// Colors
$white-color:               #fff;
$black-color:               #2C3F58;

$gray-100-color:            #F4F4F4;
$gray-200-color:            #A9ACB5;
$gray-300-color:            #72809D;

$base-color:                #708090;   // slategray
$error-color:               #ff542b;   // red
$additional-color:          #625EF7;   // violet